<!--
 * @Author: KiraZz1
 * @Date: 2022-01-02 13:27:18
 * @LastEditTime: 2022-01-04 15:43:18
 * @LastEditors: Please set LastEditors
 * @Description: 掘金签到脚本-签到成功邮件模板
 * @FilePath: \juejin\src\template\success.ejs
-->
<div class="biu-nav-email"
     style="max-width: 600px;min-width: 300px;margin: 40px auto;box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);font-size: 16px;padding: 20px;background-image: linear-gradient(to right, #47a3ff 0%, #0080ff 100%);border-radius: 5px;color: #fff;">
    <h3 style="margin-bottom: 40px;">
        Hi! 亲爱的 <%= locals.userName %>：
    </h3>
    <p style="padding-left: 20px;">
        掘金社区签到成功！免费抽奖的奖品是：<%= locals.giftName %>。今天的目标：少写点bug~~~
    </p>
    
    <p style="margin-top: 40px;text-align: right;">
        掘金签到小助手
    </p>
    <p style="text-align: right;">
        <%= locals.date %>
    </p>
</div>

